@model Serein.Pages.Partials._ProductModel

<div class="product_area product_area_two mb-65" id="product-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title" id="new-products">
                    <h2>New Products</h2>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Men" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        @if (Model?.Candles != null && Model.Candles.Any())
                        {
                            @foreach (var candle in Model.Candles)
                            {
                                <div class="col-lg-3">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="#" class="primary_img">
                                                    <img src="@candle.ImageUrl" alt="@candle.CandleName">
                                                </a>
                                                <a href="#" class="secondary_img">
                                                    <img src="@candle.HoverImageUrl" alt="@candle.CandleName">
                                                </a>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart">
                                                            <a href="#" title="Add to Cart">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="wishlist">
                                                            <a href="#" title="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                        </li>
                                                        <li class="compare">
                                                            <a href="#" title="Add to Compare">
                                                                <i class="fa fa-random"></i>
                                                            </a>
                                                        </li>
                                                        <li class="quick_button">
                                                            <a href="#" data-toggle="modal" data-target="#modal_box"
                                                               title="Quick View">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name">
                                                    <a href="#">@candle.CandleName</a>
                                                </h4>
                                                <div class="price_box">
                                                    @if (candle.SalePrice.HasValue)
                                                    {
                                                        <span class="old_price">@candle.OriginalPrice.Value.ToString("C")"</span>
                                                        <span class="current_price">@candle.SalePrice.Value.ToString("C")</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="current_price">@candle.Price.ToString("C")</span>
                                                    }
                                                </div>

                                                <div class="product_rating">
                                                    <ul>
                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
